/* GENERAL SETTINGS */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #f6f8f9;
}

/* HEADER */

.header {
  padding: 5px 15px;
  background-color: white;
  margin-bottom: 40px;
}

.logo {
  max-width: 100%;
  vertical-align: middle;
}

.logo-name {
  display: inline;
  vertical-align: middle;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
}

/* MAIN CONTENT */

.container {
  margin: 0 auto;
  max-width: 650px;
  border-radius: 5px;
  padding: 10px 45px;
  background-color: white;
  margin-bottom: 3px;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  border: 0px;
  border-radius: 3px;
  cursor: pointer;
}

.btn-add-task {
  background-color: #47adf1;
  color: white;
  padding: 6px 11px;
}

.btn-add-task:hover {
  background-color: #059bff;
}

.btn-add-section {
  background-color: white;
  color: #ccd2d6;
  padding: 5px 10px;
  border: 1px solid #ccd2d6;
}

.btn-add-section:hover {
  background-color: rgb(207, 207, 207);
  color: white;
}

.task-group {
  padding: 15px 0px;
}

.task-item {
  padding: 8px 0px;
}

/* UTILITIES AND STICKERS */

.sticker {
  display: inline;
  font-size: 10px;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  margin-left: 5px;
}

.color-green {
  color: green;
}

.color-red {
  color: red;
}

.bg-color-cyan {
  background-color: #45abea;
}

.bg-color-purple {
  background-color: #9c72e4;
}

.bg-color-lightgreen {
  background-color: #64c0a9;
}

.bg-color-orange {
  background-color: #f29e33;
}

.bg-color-pink {
  background-color: #d863a1;
}

.bg-color-yellowgreen {
  background-color: #b0c926;
}
