@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

.header {
  padding: 5px 15px;
  background-color: white;
}

.logo {
  max-width: 100%;
  vertical-align: middle;
}

.logo-name {
  display: inline;
  vertical-align: middle;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
}
